* {
font-family: Arial, Verdana, sans-serif;
}
body {
background-color: #a7b5b9;
}
h1 {
font-family: "Times", serif;
}
i {color: green
}
p {font-family: Arial, Verdana, Helvetica, sans-serif; 
    color: #642a20;
font-size: 105%;}
    
i {color: red
}
#footerXYZ { font-size: 125%;
color: yellow;
}